* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins";
}

html {
    /* trượt xuống nội dung khi user bấm vào tab trên nav */
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    position: relative;

    section {
        margin-inline: auto;
        max-width: 1440px;
        padding-inline: 16px;
    }

    .dot {
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: black;
        transform: translate(var(--x),var(--y));
        transition: 50ms;
    }
}

button {
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--smooth);
}

button:hover {
    color: white;
    background-color: #0C1122;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

input {
    outline: none;
    border: none;
    font-family: 'Poppins';
    font-size: 16px;
}

:root {
    --main-dark: #0C1122;
    --main-gray: #5E626F;
    --light-gray: #B3B7C5;
    --dark-blue: #1E253A;
    --active: #FF5352;
    --light-active: #FF6652;
    --smooth: all 0.3s ease-in;
}

.padding-10 {
    padding-inline: 60px;
}

.margin-10 {
    margin-inline: 60px;
}

.padding-y-60 {
    padding-block: 60px;
}

.max-content {
    max-width: 1440px;
}

/* width */
::-webkit-scrollbar {
    height: 8px;
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--active);
}