@import '_base';

// Title of each section COMMON
.title {
    font-family: "Sen";
    font-size: 46px;
    margin-bottom: 16px;
    line-height: 56px;
}

// Description of each title
.desc {
    color: var(--main-gray);
    font-size: 16px;
    line-height: 28px;
    max-width: 446px;
}

// Box border and shadow COMMON
.box-container {
    border-radius: 14px;
    border: 1px solid #EFEFEF;
    transition: all 0.25s ease-in-out;

    &:hover {
        border: 1px solid transparent;
        box-shadow: 0px 18px 56px 0px rgba(0, 0, 0, 0.05);
    }
}

// divider COMMON
.divider-horizontal {
    width: 100%;
    border: none;
    border-top: 1px solid #E9E9EE;
}

.divider-vertical {
    width: 1px;
    border: none;
    background-color: #E9E9EE;
}

section h3 {
    color: var(--main-dark);
    max-width: 250px;
    font-size: 18px;
}

// MENU COMMON
.menu {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    gap: 40px;
    
    .menu-links {
        display: flex;

        a {
            color: var(--main-gray);
            cursor: pointer;
            position: relative;
            transition: .3s;

            &:hover, &.active {
                color: var(--main-dark);
            }
        }
    }

    .menu-button {
        display: flex;
        justify-content: space-between;
        gap: 14px;

        button {
            padding: 15px 30px;
            font-size: 16px;

            &:nth-child(1) {
                color: var(--main-dark);
                border: 1px solid rgba(12, 17, 34, .1);
                background: transparent;

                &:hover {
                    color: white;
                    background-color: var(--main-dark);
                }
            }

            &:nth-child(2) {
                font-weight: 500;
                color: white;
                background-color: var(--main-dark);
            }
        }
    }
}

// Logo COMMON
.logo a {
    color: var(--main-dark);
    font-size: 26px;
    font-weight: 600;
    font-family: "Sen";
}


// Header 
header {
    width: 100%;
    margin-block: 20px;
    z-index: 10;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        justify-content: space-between;

        .menu-links {
            gap: 32px;

            .active::before{
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 15px);
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background: var(--active);
            }
        }
    }
    
}

.hero-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(360deg, rgba(246, 248, 255, 0) 0%, #F1F4FF 100%);
    padding-inline: 60px;

}

.hero {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    row-gap: 8rem;
    column-gap: 60px;
    width: 100%;
    
    .hero-content {
        flex: 1;
        max-width: 100%;
    
        .title {
            font-size: 66px;
            font-weight: 700;
            max-width: 500px;
            line-height: 72px;
        }
    
        .desc {
            font-size: 18px;
            line-height: 30px;    
            margin-block: 26px;
            max-width: 600px;
        }

        .search-bar {
            display: flex;
            width: 100%;
            max-width: 590px;
            min-width: 300px;
            align-items: center;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0px 16px 52px 0px rgba(0, 0, 0, 0.07);
            background-color: white;
            gap: 10px;
        }
    }
    
    .hero-image {
        flex: 1;
        justify-content: center;
        display: flex;
        align-items: center;
        min-width: 330px;
    
        img {
            height: auto;
            max-width: 100%;
        }
    }
}


.search-bar {
    
    .input-group {
        display: flex;
        gap: 10px;
        height: 100%;
        flex-direction: row;
        flex: 1;
        margin-inline: 10px;
    }
    
    .search-input {
        display: flex;
        align-items: center;
        position: relative;
        padding-block: 10px;
        flex: 1;
        min-width: 150px;
        
        img {

            &:nth-child(1) {
                width: 26px;
                margin-right: 16px;
            }

            &:nth-child(3) {
                margin-inline: 10px;
                position: absolute;
                right: 0;
                cursor: pointer;
            }

        }

        input {
            font-size: 16px;
            width: 100%;
        }

        select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            border: none;
            outline: none;
            cursor: pointer;
            width: 100%;
            background-color: transparent;
            color: var(--main-dark);
            font-size: 16px;

            option:hover {
                background-color: var(--light-active);
            }
        }
        

        
    }

    .divider {
        width: 4px;
        height: 40px;
        flex-shrink: 0;
        color: red;
    }

    .search-dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        min-width: 150px;
        position: relative;

        &.active {
            .option {
                display: block;
            }
        }
        
        .textBox {
            width: 75%;
        }

        .option {
            position: absolute;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
            top: calc(100% + 5px);
            width: 100%;
            display: none;
            
            div {
                padding: 10px 20px;
                color: var(--main-dark);
                cursor: pointer;

                &:hover {
                    background-color: var(--light-active);
                    color: white;
                }
            }
        }
    }
}


.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    background-color: var(--active);
    border-radius: 5px;

    img {
        width: 24px;
        height: 24px;
        filter: brightness(0) invert(1);
    }
}

// How it works
.how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .desc {
        margin-bottom: 10px;
        line-height: 28px;
    }
}

.how-it-works {
    
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 290px));
        justify-content: center;
        gap: 30px;
        margin-top: 60px;
        width: 100%;
        
        .card-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 35px 45px 50px;
            gap: 30px;
            cursor: pointer;
        }
    }
}



.card-item img {
    max-width: 60px;
}

// About
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;

    .about-content {
        max-width: 470px;

        .desc {
            max-width: 470px;
        }
        
        .check-container {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-block: 26px;
            
            .check-item {
                display: flex;
                gap: 10px;
                font-size: 16px;   
                
                span {
                    font-family: "Poppins";
                    font-weight: 500;
                }
            }
        
            
        }
    }
    
    .about-image {

        img {
            height: auto;
            width: 100%;
        }
    }

}



.category {
    padding-inline: 16px;
    
    .category-content {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 30px;

        .title {
            max-width: 470px;
            align-self: stretch;
        }
    }
    
    .category-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
        grid-auto-flow: column;
        gap: 30px;
        overflow-x: auto;
        padding-bottom: 12px;
        padding-inline: 10px;
    
        .category-item {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 270px;
            height: 210px;
            padding: 24px;
            border-radius: 8px;
            border: 1px solid #E3E0E0;
            cursor: pointer;
        
            h3 {
                max-width: 92px;
                font-family: "Sen";
            }
            
            .category-item-boxIcon {
                padding: 6px;
                border-radius: 4px;
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                padding: 12px;
            }
        
            span {
                font-weight: 400;
                line-height: 26px;
                font-size: 14px;
            }
        
            &.active {
                background-color: var(--active);
                color: white;
            
                .category-item-boxIcon {
                    background: white !important;
        
                    img {
                        filter: invert(43%) sepia(41%) saturate(1593%) hue-rotate(318deg) brightness(104%) contrast(101%) !important; //active color
                    }
                }
            }
        }

    }
}



.pagination-container {
    display: flex;
    gap: 16px;

    .pagination-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid var(--active);
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover, &.active {
            background-color: var(--active);

            img {
                filter: brightness(0) invert(1);
            }    
        }

        img {
            width: 28px;
            filter: invert(43%) sepia(49%) saturate(1587%) hue-rotate(328deg) brightness(109%) contrast(101%);
        }
    }
    
}

// Jobs
.jobs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    .job-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 330px));
        gap: 30px;
        width: 100%;
        margin-block: 70px 55px;
        justify-content: center;
    }

    button {
        padding: 18px 43px;
        background-color: var(--active);
        color: white;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid var(--active);

        &:hover {
            background-color: white;
            color: var(--light-active);
        }
    }

    .job-item {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 20px 30px;
        font-family: "Poppins";
        cursor: pointer;

        .job-item-top {
            display: flex;
            flex-direction: column;
            gap: 14px;
            text-align: left;
            margin-bottom: 40px;
    
            h3 {
                font-family: "Sen";
                font-size: 22px;
                font-weight: 700;
                line-height: 32px;
            }

            .job-item-features {
                display: flex;
                gap: 40px;
                color: var(--main-gray);
    
                .job-item-feature {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    justify-content: center;
                }
            }
    
        }
    
        .job-item-bottom {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
            font-weight: 600;
            flex: 1;
            
            .job-item-post-time {
                flex: 1;
                text-align: right;
                color: var(--main-gray);
                font-weight: 400;
            }
        }

    }
    
}

// Testimonial
.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
    column-gap: 8rem;
    flex-wrap: wrap;

    .testimonial-video {
        width: 470px;
        height: 510px;
        max-height: 470px;
        max-width: 510px;
        min-width: 300px;
        min-height: 300px;
        position: relative;
        
        video {
            border-radius: 22px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: var(--light-active);
        }

        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            background-color: var(--light-active);
            border-radius: 50%;
            padding: 20px;
            opacity: 0.7;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    .testimonial-content {
        font-family: "Poppins";

        .title {
            max-width: 470px;
        }

        .desc {
            font-style: italic;
            font-weight: 500;
            margin-top: 70px;
            margin-bottom: 38px;
            font-size: 20px;
            line-height: 38px; 
        }

        .author {
            h3 {
                color: var(--main-dark);
                font-size: 18px;
            }

            span {
                color: var(--main-gray);
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}

// footer
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .newsleter {
        position: relative;
        margin-inline: 10px;

        .title {
            text-align: center;
        }
        
        .desc {
            text-align: center;
            max-width: 466px;
        }

        .email-container {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
            background-color: white;
            box-shadow: 10px 18px 56px 5px rgba(0, 0, 0, 0.15);
            padding: 5px;
            padding-left: 25px;
            border-radius: 4px;
            font-size: 14px;
            width: 100%;
            min-width: 330px;
            max-width: 430px;
            display: flex;
            justify-content: space-between;
            gap: 12px;
            
            button {
                padding: 10px 24px;
                color: white;
                background-color: var(--light-active);
                border-radius: 5px;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    .footer-content-container {
        display: flex;
        flex-direction: column;
        background-color: var(--main-dark);
        display: flex;
        width: 100%;
        padding-top: 120px;
        padding-bottom: 30px;
        align-items: center;
        padding-inline: 60px;

        .footer-content {
            display: grid;
            grid-template-columns: 200px auto;
            margin-bottom: 38px;
            gap: 60px;
            width: 100%;
            max-width: 1440px;

            .footer-logo {

                .logo {
                    margin-bottom: 18px;

                    a {
                        color: white;
                    }
                }

                .social-links {
                    display: flex;
                    gap: 14px;

                    .social-link-item {
                        background-color: var(--dark-blue);
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        
                        &:nth-child(1) {
                            background-color: var(--active);
                        }
                    }

                }
            }





        }

        .footer-links {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px;

            .footer-links-col {
                
                p { 
                    color: white;
                    font-weight: 600;
                    margin-bottom: 18px;
                }
                ul {
                    
                    li {
                        padding-block: 6px;

                        a {
                            color: var(--light-gray);

                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }

        }

        .divider-horizontal {
            border-color: var(--dark-blue);
        }

        .copyright {
            color: #70737C;
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            margin-top: 28px;
        }
    }
}

.hamburger {
    display: none;
    cursor: pointer;

}

// navbar modal
.navbar-modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &.visible {
        transition: all 3s ease-in-out;
        display: flex;
        opacity: 1;
    }

    .menu-close {
        position: absolute;
        right: 2rem;
        top: 2rem;
        width: 24px;
        cursor: pointer;
        transition: all .1s ease-in;

        img {
            width: 100%;
        }

        &:hover {
            scale: 1.15;
        }
    }

    .menu {
        flex-direction: column;
        gap: 4rem;

        .menu-links {
            flex-direction: column;
            gap: 10px;
    
            a {
                font-size: 52px;
                font-weight: 500;
                color: var(--main-gray);
                cursor: pointer;
                position: relative;
                transition: .3s;
                
                &:hover, &.active {
                    color: var(--main-dark);
                }
            }
        }

        .menu-button {
            gap: 30px;

            button {
                font-size: 26px;
            }
        }
    }
}


// Responsive
/* Mobile devices – 320px — 480px */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .hero-wrapper {
        padding-inline: 16px;
    }

    .hero .hero-content {
        .title {
            font-size: 43px;
            max-width: 500px;
            line-height: 54px;
        }

        .desc {
            font-size: 14px;
            line-height: 26px;
            margin-block: 15px;
            max-width: 360px;
        }
    }

    .navbar-modal {
        .menu {
            gap: 2rem;
            align-items: flex-start;

            .menu-links {
        
                a {
                    font-size: 32px;
                }
            }
    
            .menu-button {
                flex-direction: column;
                gap: 30px;
    
                button {
                    font-size: 18px;
                }
            }
        }

    }

    .title {
        font-size: 32px;
    }

    section {

        .desc {
            
        }

        h3 {
            font-size: 14px;
        }
    }

    .how-it-works {

        .card-container {
            grid-template-columns: repeat(auto-fit, minmax(100px, 180px));
            
            .card-item {
                padding: 20px;
                gap: 12px;
                
                img {
                    max-width: 40px;
                }
            }
        }
    }

    .search-bar {
    
        .input-group {
            flex-direction: column !important;
        }
    }

    .category {
        .category-content {
            flex-direction: column;
        }
    }

    footer {
        .footer-content-container {
            
            .footer-content {
                grid-template-columns: auto;
            }
            
        }
    }
        
}

/* iPads, Tablets – 481px — 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero-wrapper {
        padding-inline: 16px;
    }

    .title {
        font-size: 40px;
    }

    section {
        .desc {
            font-size: 16px;
            max-width: 500px;
        }
        
        h3 {
            font-size: 16px;
        }
    }

    .hero .hero-content {
        
        .title {
            font-size: 60px;
        }

        .desc {
            font-size: 16px;
            max-width: 500px;
        }
    }
    
    .search-bar {
    
        .input-group {
            flex-direction: column !important;
        }
    }

    .category {
        .category-content {
            flex-direction: column;
        }
    }
    
    .how-it-works {
        .card-container {
            
            .card-item {
                padding: 30px 40px 45px;
                
                img {
                    max-width: 50px;
                }
            }
        }

    }

    footer {
        .footer-content-container {
            
            .footer-content {
                grid-template-columns: auto;
                grid-gap: 50px;
            }

        }
    }

    .footer-links {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1000px) {
    .hamburger {
        display: block;
    }

    .navbar .menu {
        display: none !important;
    }

    .hero {
        .hero-content {
            .search-bar {
                flex-direction: column;
                align-items: inherit;
                row-gap: 1rem;

                .input-group {
                    flex-direction: column;
                    
                    input {
                        margin-right: 10px;
                    }
                }

                .search-button {
                    padding: 10px;
                }
            }
    }
}
}

/* Small screens, laptops – 769px — 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .title {
        font-size: 38px;
    }

    section {

        h3 {
            font-size: 16px;
        }
    }

    .hero .hero-content {
        
        .title {
            font-size: 56px;
            max-width: 400px;
            line-height: 62px;
        }

        .desc {
            font-size: 16px;
            max-width: 600px;
        }
    }
    
    .card-container {
        
        .card-item {
            min-width: 200px;
            min-height: 180px;
        
            
            img {
                max-width: 50px;
            }
        }
    }
}

/* Desktops, large screens – 1025px — 1200px */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

}

/* Extra large screens, TV – 1201px, and more */
@media screen and (min-width: 1201px) {

}